<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Flatpickr CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
    <!-- My own CSS -->
    <link rel="stylesheet" type="text/css" href="/panel.css">
    <link rel="stylesheet" type="text/css" href="glider.css">

     <!-- <link rel="stylesheet" type="text/css" href="/style.css"> -->


     <script src="/owl.carousel.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
     <script src="https://unpkg.com/@glidejs/glide"></script>
    <!-- Import font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--  Flatpickr  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>

   <title>ticketMe| Tài khoản</title>
  </head>
  <body>
<div class="container">
  
    
<% include ./partials/header %>
<div id="form-control">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <a href="/home" style="text-decoration: none">ticketMe</a>
      </h1>
      <% include ./partials/messages %>
      <!-- <div class="password-guidelines">
          <h3 class="guidelines-header">Yêu cầu mật khẩu</h3>
          <div class="guidelines-description">
            <p class="pass-rule">Có ít nhất 6 ̉kí tự</p>
            <p class="pass-rule">Có ít nhất 1 kí tự số </p> 
            <p class="pass-rule">Bao gồm kí tự đặc biệt</p>
            <p class="pass-rule">Khớp mật khẩu</p>
          </div>
         </div> -->
        <div class="form form-register active" id="dangki">
          <img class="img-bg" src="https://image.freepik.com/free-vector/online-registration-concept_23-2147980578.jpg" wid alt="">
            <!-- <form action="/user/account/register" class="form-col2" method="POST">
              <div class="form-group">
               
                <input
                  type="name"
                  id="name"
                  name="name"
                 placeholder="Nhập tên người dùng"
                  value="<%= typeof name != 'undefined' ? name : '' %>"
                />
              </div>
              <div class="form-group">
              
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Nhập địa chỉ email"
                  value="<%= typeof email != 'undefined' ? email : '' %>"
                />
              </div>
              <div class="form-group">
              
                <input
                  type="password"
                  id="password"
                  name="password"
                placeholder="Nhập mật khẩu"
                  value="<%= typeof password != 'undefined' ? password : '' %>"
                  onkeyup="handleValid()"

                />
              </div>
              <div class="form-group">
           
                <input
                  type="password"
                  id="password2"
                  name="password2"
                  placeholder="Xác nhận mật khẩu"
                  value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                  onkeyup="handleConfirmPass()"

                />
              </div> -->
              <form id="form" action="/user/account/register" method="POST" class="form-col2">
  <div class="input-box">
    <label class="input-label">Tên người dùng</label>
    <input type="text" name="name" class="input-1" onfocus="setFocus(true)" onblur="setFocus(false)" />
  </div>
  <div class="input-box">
    <label class="input-label">Địa chỉ email</label>
    <input type="email" name="email" class="input-1" onfocus="setFocus(true)" onblur="setFocus(false)" />
  </div>
  <div class="input-box ">
    <label class="input-label">Mật khẩu</label>
    <input type="password"  id="password" onkeyup="handleValid()"
    name="password" class="input-1" onfocus="setFocus(true)" onblur="setFocus(false)" />
  </div>
  <div class="input-box ">
    <label class="input-label">Xác thực mật khẩu</label>
    <input type="password"  id="password2" onkeyup="handleConfirmPass()"
    name="password2" class="input-1" onfocus="setFocus(true)" onblur="setFocus(false)" />
  </div>

  <button type="submit" class=" button-log" id="saveResBtn" disabled>Đăng kí</button>
  <div class="clear"></div>
              <p class="lead mt-4"><a class="single" href="#" data-target="dangnhap">Đăng nhập</a></p>

</form>
              <!-- <button type="submit" class="button-log" id="saveResBtn" disabled>
                <strong>Tiếp tục</strong>
              </button> -->
              <!-- <p class="lead mt-4"><a class="single" href="#" data-target="dangnhap">Đăng nhập</a></p> -->
            </form>
            <div class="password-guidelines">
          <h3 class="guidelines-header">Yêu cầu mật khẩu</h3>
          <div class="guidelines-description">
            <p class="pass-rule">Có ít nhất 6 ̉kí tự</p>
            <p class="pass-rule">Có ít nhất 1 kí tự số </p> 
            <p class="pass-rule">Bao gồm kí tự đặc biệt</p>
            <p class="pass-rule">Khớp mật khẩu</p>
          </div>
         </div>
        </div>
        
        <div class="form form-login" id="dangnhap">
            <form action="/user/account/login" method="POST">
              <div class="form-group">
              
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Email"
                  value="<%= typeof email != 'undefined' ? email : '' %>"
                />
              </div>
             <div class="form-group">
              
                <input
                  type="password"
                  id="password"
                  name="password"
                placeholder="Password"
                  value="<%= typeof password != 'undefined' ? password : '' %>"

                />
              </div>
              <button type="submit" class="button-log" id="handleLogin">
                <strong>Tiếp tục</strong>
              </button>
              <p class="lead mt-4"><a style="text-decoration: none;" href="/user/reset">Quên mật khẩu? </a> <a class="single" href="#" data-target="dangki">Đăng kí</a></p>
            </form>
        </div>
      
    </div>
  </div>
</div>
<% include ./partials/footer %>

<script src="/user.js"></script>
<script src="/validation.js"></script>
<script>
$(document).ready(function(){
  $(window). scrollTop(0);
  
})

</script>

 <style>
   
    body{
      font-family: 'Montserrat', sans-serif;
      background-color: #f9f9f9;

    }
    .container{
      
    }
    h1{
      margin-bottom:20px;
      color:var(--main);
    }
    .form-login,.form-register{
      display:none;
    }
    .active{
      display:grid;
      animation: fadein 0.5s;
    }
    .img-bg{
      grid-area: fside;
      width: 100%;
      height: 100%;
    }
    .form-col2{
      grid-area: mside;
      padding: 10px 0;
    }
     input{
      width: 70%;
      height: 25px;
      border:none;
      border-bottom: 1px solid #d1d5da;
      font-family: 'Montserrat', sans-serif;
      height:3em;
    }
    .form{
      padding:20px 0;
    }
    .form-register{
      width:70%;
      height:450px;
      margin-left:50%;
      transform:translate(-50%,0);
      border-radius:10px;
      border: 1px solid #d1d5da;
      background: #ffffff;
      /*display: grid;*/
      grid-auto-columns: 30% 50% 20%;
     grid-template-areas:
    ' fside mside rside';
    grid-gap: 0;
      padding:0;
   
      
     

    }
    .form-login{
      width:25%;
      height:250px;
      margin-left:50%;
      transform:translate(-50%,0);
      border-radius:7x;
      border: 1px solid #d1d5da;
      background: #ffffff;

    }
    .password-guidelines{
      /*position: absolute;
      float: right;
      right: 25%;*/
    
      text-align: left;
      padding: 0px 7px;
      background: #ffffff;
      grid-area: rside;

    }
    form .form-group{
      padding: 0;
      padding-bottom :20px;
    }
    #form-control{
      text-align: center;
      margin-top: 100px;
    }
    h1{
      text-align: center;
    }

    .button-log{
      width: 60%;
      height: 40px;
      background: var(--main);
      color:white;
      border: none;
      border-radius: 2px;

    }
    .button-log:disabled{
      background: #d1d5da;
    }
    @keyframes fadein {
      0%{
        opacity: 0;
      }
      50%{
        opacity: 0.5;
      }
      100%{
        opacity: 1;
      }
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700");
/* Buttons */
body {
  font-family: "open sans", roboto, arial, sans-seif;
  background: #fff;
}

input {
  background: #fff;
}

#form {
  margin: 0 10px;
}

.input-box.active-grey .input-1 {
  border: 1px solid var(--main);
}
.input-box.active-grey .input-label {
  color: #80868b;
  top: -8px;
  background: #fff;
  font-size: 11px;
  transition: 250ms;
}
.input-box.active-grey .input-label svg {
  position: relative;
  width: 11px;
  height: 11px;
  top: 2px;
  transition: 250ms;
}

.input-box {
  position: relative;
  margin: 10px 0;
}
.input-box .input-label {
  position: absolute;
  color: #80868b;
  font-size: 16px;
  font-weight: 400;
  max-width: calc(100% - (2 * 8px));
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  left: 8px;
  top: 13px;
  padding: 0 8px;
  transition: 250ms;
  user-select: none;
  pointer-events: none;
}
.input-box .input-label svg {
  position: relative;
  width: 15px;
  height: 15px;
  top: 2px;
  transition: 250ms;
}
.input-box .input-1 {
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  border-radius: 4px;
  color: #202124;
  border: 1px solid #dadce0;
  padding: 13px 15px;
  transition: 250ms;
  margin-bottom: 10px;
}
.input-box .input-1:focus {
  outline: none;
  border: 2px solid var(--main);
  transition: 250ms;
}

.input-box.focus .input-label,
.input-box.active .input-label {
  color: var(--main);
  top: -8px;
  background: #fff;
  font-size: 11px;
  transition: 250ms;
}
.input-box.focus .input-label svg,
.input-box.active .input-label svg {
  position: relative;
  width: 11px;
  height: 11px;
  top: 2px;
  transition: 250ms;
}

.input-box.active .input-1 {
  border: 2px solid #1a73e8;
}

.btn {
  width: 60%;
  height: 40px;
  background: var(--main);
  color: #333;
  cursor: pointer;
  border: none;
  white-space: normal;
  letter-spacing: 0.25px;
  font-weight: 400;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 4px;
  line-height: 20px;
  transition: 250ms;
}
.btn:hover {
  background: var(--main);
  transition: 250ms;
}
.btn:focus {
  outline: none;
}

.btn-primary {
  background: #1a73e8;
  color: #fff;
  transition: 250ms;
}
.btn-primary:hover {
  background: #287ae6;
  box-shadow: 0 1px 1px 0 rgba(66, 133, 244, 0.45), 0 1px 3px 1px rgba(66, 133, 244, 0.3);
  transition: 250ms;
}

.pull-right {
  float: right;
}

.clear {
  clear: both;
}


  </style>

 
</div>
  
  </body>
<script>
  function setFocus(on) {
  var element = document.activeElement;
  if (on) {
    setTimeout(function () {
      element.parentNode.classList.add("focus");
    });
  } else {
    let box = document.querySelector(".input-box");
    box.classList.remove("focus");
    $("input").each(function () {
      var $input = $(this);
      var $parent = $input.closest(".input-box");
      if ($input.val()) $parent.addClass("focus");
      else $parent.removeClass("focus");
    });
  }
}

</script>
</html>
